<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ng-filter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
    <h2>ng-filter Uppercase</h2>
    <hr>
    <div ng-app="myApp" ng-controller="myctr">
        <h3>Student names: </h3>
        <ul>
            <li ng-repeat="x in list">{{x|uppercase}}</li>
        </ul>
        <hr>
        <p>Search name: <input ng-model="search"></p>
        <hr>
        <h3>Result:</h3>
        <ul>
            <li ng-repeat="x in list|filter:search">{{x}}</li>
        </ul>
    </div>

    <script>
        angular.module("myApp",[]).controller("myctr",function ($scope) { 
            $scope.list = ["nguyen loc", "hoang ha", "tran thang", "tran quan", "nhat truong",
        "minh phuoc"];
        });
    </script>
</body>
</html>