<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show/hide</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
    <h2>ng-show/ng-hide demo</h2>
    <hr>
    <div ng-app ng-init="show=true;hide=false"><!---->
        <p>show the picture <input type="checkbox" ng-model="show"></p>
        <img src="../HTML/image/cafe1.png" ng-show="show"/>
        <p>hide the picture <input type="checkbox" ng-model="hide"></p>
        <img src="../HTML/image/dubal.png" ng-hide="hide"/>
    </div>
</body>
</html>