<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>factory</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Factory demo</h2>
        <hr>
        <div ng-app="myApp" ng-controller="myControl">
            Input a positive number :
            <br>
            <input type="number" name="txtN" min="1" max="10000" ng-model="number">
            <button ng-click="calc()">Check</button>
            <p>Result : {{result}}</p>
        </div>
    </div>

    <script>
        var app = angular.module("myApp",[]);
        app.factory("mathFactory", function(){
            var f = {};
            f.fnPrime = function(n){
                for (var i = 2; i <= Math.sqrt(n); i++){
                    if(n % i == 0) return false;
                }
                return true;
            }
            return f;
        });

        app.controller("myControl", function($scope, mathFactory){
            $scope.number = 5;
            $scope.calc = function () { 
                var x = mathFactory.fnPrime($scope.number);
                $scope.result = $scope.number + (x ? " is a Prime Number" : " is a Composite Number");
             }
        });
    </script>
</body>
</html>