<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Link bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
</head>

<body ng-controller="myController">

    <div class="container-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading">user management</div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td ng-repeat="col in colums">{{col}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="std in dataList">
                            <td>{{std.no}}</td>
                            <td>{{std.fullname}}</td>
                            <td>{{std.address}}</td>
                            <td>{{std.age}}</td>
                            <td>{{std.email}}</td>
                            <td>{{std.phone_number}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">add user</div>
            <div class="panel-body">
                <input placeholder="enter full name" type="text" name="fullname" size="50" ng-model="fullname">
                <br><br>
                <input placeholder="enter address" type="text" name="address" size="50" ng-model="address">
                <br><br>
                <input placeholder="enter age" type="number" name="age" size="20" ng-model="age">
                <br><br>
                <input placeholder="enter email" type="email" name="email" size="50" ng-model="email">
                <br><br>
                <input placeholder="enter phone number" type="number" name="phone_number" size="50" ng-model="phone_number">
                <br><br>
                <input type="button" value="add" ng-click="add()">
            </div>
        </div>
    </div>


    <script>
        var app = angular.module("myApp", []);
        app.controller("myController", function ($scope) {
            $scope.colums = [
                'No',
                'Fullname',
                'Address',
                'Age',
                'Email',
                'Phone number'
            ];

            $scope.dataList = [];
            $scope.add = function(){
                var student = {
                    "no":this.dataList.length +1,
                    "fullname":this.fullname,
                    "address":this.address,
                    "age":this.age,
                    "email":this.email,
                    "phone_number":this.phone_number
                };
                this.dataList[this.dataList.length] = student
            }
        });
    </script>
</body>

</html>