<div ng-controller="myList">
    <h2>Project List</h2>
    <p>Enter project name <input type="text" name="pname" ng-model="status"></p>
    <div>
        <p>
           Active <input type="radio" name="status"  ng-model="status" value="true"> 
           Deactive <input type="radio" name="status"  ng-model="status" value="false"> 
           All <input type="radio" name="status"  ng-model="status" >
        </p>
    </div>
    
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in projects | filter:status" >
                <td>{{$index+1}}</td>
                <td>{{p.id| uppercase}}</td>
                <td>{{p.name}}</td>
                <td>{{p.type| uppercase}}</td>
                <td>{{p.active| lowercase}}</td>
                <td> <button type="button" class="btn btn-warning" ng-click="remove(p.id)" > Delete </button></td>
            </tr>
        </tbody>
    </table>

</div>
