<div class="container" style="margin-left: 35%;" ng-controller="validateController">

    <h4>Add Form</h4>
    <form name="myForm" ng-submit="add_food()">
        <p>ID
            <br>
            <input type="text" name="id" ng-model="id" required placeholder="nhập tên" pattern="F\d{2}">
            <span style="color: red;" ng-show="myForm.id.$error.required">ID is required.</span>
            <span style="color: red;" ng-show="myForm.id.$invalid">F[xx].</span>
        </p>
        <p>Name
            <br>
            <input type="text" name="txtName" ng-model="txtName" required placeholder="nhập tên món ăn">
            <span style="color: red;" ng-show="myForm.txtName.$error.required">
                Name is required.
            </span>
        </p>
        <p>Price
            <br>
            <input type="number" name="price" ng-model="price" required placeholder="nhập giá tiền">
            <span style="color: red;" ng-show="myForm.price.$error.required">
                Price is required.
            </span>
        </p>
        <p>
            <input type="submit" value="Add" ng-disabled="myForm.$invalid" class="btn btn-success">
        </p>
    </form>


</div>